<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<% include ./../partials/header %>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-2">
					<h3>Cadastrar costura</h3><br>
					<form id="seamstress-create-form">
						<input type="text" class="btn-generic-big" name="seamstress-name" placeholder="Nome completo" required>
						<input type="number" class="btn-generic-big" name="seamstress-phone" placeholder="(00)00000-0000">
						<input type="number" class="btn-generic-big" name="seamstress-cpf" placeholder="CPF">
						<select class="hide-disabled btn-generic-big">
							<option value="" disabled selected>Local de produção</option>
							<option value="interno">Interno</option>
							<option value="externo">Externo</option>
						</select>
					</form>
				</div>
			</div>
		</section>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
	</footer>
</html>