<div name="carousel-navigation-box">
	<button name="carousel-previous" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
    <span name="carousel-page"></span>
    <button name="carousel-next" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
</div>